<div class="jumbotron text-center">
<h1>{% if page.url != '/' %} {{ page.title }}
{% else if page.url == '/' %}{{ site.title }} {% endif %}
</h1>

<center>
<button class="smallbutton"></button>
<p style="color:grey;"> {% if page.url == '/' %}-I am a front end developer who is currently studying back end programming<br>{% endif %}</center>
</p>
</div>
</div>
<style>
.smallbutton{
  background-color: green;
  border:1px;
  -webkit-border-radius: 2px;
  height: 5px;
  width: 5px;
  opacity: 0;
  -webkit-transition: width 2s, opacity 2s;
}
.jumbotron:hover .smallbutton
{
transition-timing-function: ease-in 2s;
transition-timing-function: ease-out 2s;
width: 150px;
opacity: 1;


</style>
