<nav class="navbar navbar-default" style="background-color:white;border:0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.title }}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if page.url == '/' %} active{% endif %}"><a href="/">Writings</a></li>
        <li class="{% if page.url == '/about/' %} active{% endif %}"><a href="/about">About</a></li>
        <li class="{% if page.url == '/contact/' %} active{% endif %}"><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<style>
.navbar{
  margin-bottom:0px
}
</style>
